@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
}

iframe {
  height: 100%;
  width: 100%;
}

#pdf-preview-title {
  text-shadow: 3px 3px rgb(234 179 8 / var(--tw-text-opacity));
}

#pdf-preview {
  box-shadow: 3px 3px rgb(234 179 8 )
}

/*Example of bundling a bunch of tailwind classes into a single reusable class:*/
@layer components {
  .primary-btn {
    @apply bg-blue-950 w-[120px] h-[35px] text-white rounded-lg p-[3px] my-[5px]
  }
}
